*,
*::before,
*::after{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "SF-Pro_Display-Bold" ;
    src: url(../fonts/SF-Pro-Display-Bold.woff) format('woff');
    src: url(../fonts/SF-Pro-Display-Bold.woff2) format('woff2');
}

@font-face {
    font-family: "spaceagecyrillic-regular";
    src: url(../fonts/spaceagecyrillic-regular.woff) format('woff');
    src: url(../fonts/spaceagecyrillic-regular.ttf) format('ttf');
}

ul{
    list-style: none;
}

body{
    font-family: "SF-Pro_Display-Bold";
}

a{
    text-decoration: none;
}

.title{
    color: white;
    font-size: 48px;
    font-family: "spaceagecyrillic-regular";
}

.button{
    height: 60px;
    background-color: transparent;
    color: white;
    font-size: 24px;
    line-height: 31px;
    border: 1px white solid;
    cursor: pointer;
    font-family: "SF-Pro_Display-Bold";
}

.container{
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}

.header{
    background-image: url(../images/header_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    min-height: 100vh;

}

.menu__list{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.menu__list__variant{
    display: flex;
    justify-content: space-around;
    width: 578px;
}

.menu__list-text{
    font-size: 18px;
    line-height: 25px;
    color: white;
    transition: all 0.3s
}

.menu__list-text:hover{
    color: red;
}

.phone_link{
    font-size: 18px;
    line-height: 30px;
    color: white;
    padding-right: 60px;
    position: relative;
    text-align: center;
}

.phone_link::after{
    content: "";
    position: absolute;
    background-image: url(../images/helmet.png);
    right: 0;
    top: -2;
    height: 30px;
    width: 30px;
}

.header__content-inner{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: calc(100vh - 110px);
}

.header__title{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}

.main-title{
    font-size: 60px;
    font-family: "spaceagecyrillic-regular";
    color: white;
    line-height: 82px;
    text-align: center;
    margin-bottom: 5px;
}

.main-toursim{
    font-size: 110px;
}

.main-title-text{
    font-size: 24px;
    line-height: 31px;
    color: white;
    margin-bottom: 50px;
    margin-left: 10px;
}

.main__button{
    width: 600px;
    height: 60px;
    background-color: transparent;
    color: white;
    font-size: 24px;
    line-height: 31px;
    border: 1px white solid;
    cursor: pointer;
    font-family: "SF-Pro_Display-Bold";
}

.header__description{
    display: flex;
    gap: 52px;
    justify-content: end;
}

.header__description-text{
    color: white;
    width: 140px;
    font-size: 14px;
    line-height: 18px;
}

.about{
    background-image: url(../images/about-bg.jpg);
}

.about__inner{
    display: flex;
    justify-content: space-between;
    padding-bottom: 121px; 
}

.about__inner2{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-bottom: 150px; 
}

.about-title{
    line-height: 38px;
    font-size: 38px;
    padding-top: 100px;
    margin-bottom: 100px;
}

.about-title2{
    line-height: 38px;
    font-size: 38px;
    margin-bottom: 100px;
}

.about__inner-title{
    font-size: 30px;
    line-height: 30px;
    color: white;
    padding-bottom: 5px;
}

.about__inner-subtitle{
    color: blue;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.about__content-text{
    display: flex;
    margin-bottom: 50px;
}

.about__content-text p{
    color: white;
    font-size: 16px;
    line-height: 20px;
    width: 165px;
    margin-right: 50px;
}

.about__content-text p:nth-last-child(-n + 1){
    margin-right: 0px;
}

.about-table{
    color: white;
    margin-bottom: 50px;
}

.about-table2{
    color: white;
    margin-bottom: 20px;
}

.about__table-tr{
    border: 1px solid white;
    border-left: none;
    border-right: none;
}

.about-table-td{
    padding:10px 15px;
    text-align: center;
}

.about__table-tr + .about__table-tr{
    font-size: 36px;
    line-height: 50px;
    font-weight: 700;
}

.about-table-td span{
    font-size: 14px;
    line-height: 17px;
    display: block;
}

.about-text-2{
    color: white;
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 50px;
}

.about-button{
    font-size: 18px;
    line-height: 23px;
    width: 300px;
}



.zabronirovat{
    background-image: url(../images/zabronirovat.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    min-height: 100vh;
}

.zabronirovat__inner{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.zabronirovat-right{
    display: flex;
}

.zabronirovat__title{
    color: white;
    font-size: 48px;
    font-family: "spaceagecyrillic-regular";
    max-width: 576px;
}

.zabronirovat__text{
    color: white;
    font-size: 14px;
    width: 170px;
    margin-left: 26px;
    margin-right: 26px;
}

.how-to{
    background-image: url(../images/how-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.how-to-title{
    width: 578px;
    margin-bottom: 100px;
    padding-top: 100px;
}

.how-to__box{
    text-align: center;
    padding-bottom: 100px;
}

.how-to__box-item{
    color: white;
    font-size: 18px;
    font-family: "SF-Pro_Display-Bold";
}

.how-to__box circle,
.how-to__box text,
.how-to__box g foreignObject{
    transition: all 0.5s;
}

.how-to__box g:hover circle{
r: 20px;
fill: #036CCA;
}

.how-to__box g:hover text{
font-size: 36px;
fill: #036CCA;
}

.how-to__box g foreignObject{
    color: white;
    font-size: 18px;
    font-family: "SF-Pro_Display-Bold"; 
    text-align: left;   
}

.how-to__box g:hover foreignObject{
    color: #036CCA;
    font-size: 22px;    
}

.left-text{
    border: #F8F6FA 2px solid;
    font-size: 24px;
    line-height: 31px;
    color: #F8F6FA;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.price{
    display: flex;
    justify-content: space-around;
}

.price-title{
    margin-bottom: 100px;
}

.price-a{
    color: red;
}

.price-text{
    width: 225px;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    padding-bottom: 146px;
    padding-top: 43px;
}

.price-price{
    width: 245px;
    font-size: 48px;
    padding-bottom: 38px;
    position: relative;
}

.price-price sup{
    font-size: 14px;
    position: absolute;
    top: -30px;
}

.price-price::after{
    content: "";
    position: absolute;
    width: 68px;
    height: 1px;
    background-color: red;
    transform: rotate(15deg);
    top: -15px;
    right: -10px;
}

.price-button{
    width: 500px;
    margin-bottom: 142px;
}

.additional-services{
    display: flex;
    justify-content: space-between;
}

.additional__title{
    width: 600px;
    margin-bottom: 97px;
}

.additional__variant{
    color: #F8F6FA;
    font-size: 24px;
    margin-bottom: 25px;
}
.additional__text{
    color: #F8F6FA;
    font-size: 24px;
}

.additional__text p{
    padding-bottom: 25px;
}

.additional__variant1{
    padding-left: 30px;
    position: relative;
    padding-bottom: 5px;
    font-size: 24px;
}

.additional__variant1::before{
    content: "";
    background-image: url(../images/Ellipse-2.svg);
    position: absolute;
    background-repeat: no-repeat;
    left: 0;
    width: 20px;
    height: 20px;
}

.additional__container__button{
    width: 500px;
}

.additional__button{
    width: 500px;
}

.additional__button-first{
    margin-bottom: 50px;
    position: relative;
}

.additional__button-first::before{
    content: "";
    background-image: url(../images/astronaut.png);
    position: absolute;
    width: 192px;
    height: 150px;
    bottom: 40px;
    right: 0;
}

.little-text{
    font-size: 12px;
    line-height: 17px;
    color: #F8F6FA;
    margin-bottom: 200px;
}

.slider{
    background-color: #F8F6FA;
    padding-bottom: 110px ;
    padding-top: 100px;
    background-image: url(../images/Phon.png);
}

.slider__inner{
    display: flex;
    justify-content: center;
    border: white solid 2px;
    padding-bottom: 100px;
    padding-top: 100px;
    /* padding-left: 200px; */
    /* margin: 0 auto; */
}

/* .slider__item{
    padding-left: 100px;
} */

.slick-initialized .slick-slide{
    display: flex;
    justify-content: center;
}

.slick-next{
    border: none;
    background-color: transparent;
    position: absolute;
    top: 45%;
    right: 40px;
    cursor: pointer;
}

.slick-prev{
    border: none;
    background-color: transparent;
    position: absolute; 
    top: 45%;
    left: 40px;
    z-index: 10;
    cursor: pointer;
}

.slider__text{
    font-size: 24px;
    line-height: 30px;
    font-family: "spaceagecyrillic-regular";
    color: white;
    text-align: center;
}

.contacts{
    padding: 100px 0 100px;
    background-image: url(../images/contact.bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.contacts__inner{
    display: flex;
    justify-content: space-around;
}

.contacts__left__title{
    padding-bottom: 46px;
}

.contacts__left-text{
    color: white;
    padding-bottom: 100px;
    max-width: 450px;
    font-size: 24px;
}

.contacts__form{
    display: flex;
    flex-direction: column;
}

.contacts__input{
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 20px;
    margin-bottom: 60px;
    color: white;
}

.contacts__input::placeholder{
    color: white;
}

.contacts__button{
    width: 500px;
    height: 60px;
}

.contacts__guarantee{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-left: 200px;
}

.contacts__guarantee__title{
    margin-bottom: 46px;
    width: 600px;
}

.contacts__guarantee-text{
    width: 600px;
    color: white;
    font-size: 24px;
    line-height: 31px;
}

.contacts__img{
    width: 396px;
    height: 396px;
}

.footer{
    content: "";
    background-image: url(../images/footer.png);
    background-repeat: no-repeat;
    height: 433px;
}

.footer__inner{
    display: flex;
    justify-content: end;
    padding-top: 100px;
}

.footer__item{
    color: white;
    width: 165px;
    font-size: 16px;
    line-height: 19px;
}

.footer__item-text{
    padding-bottom: 48px;
}

.footer__list-text{
    font-size: 16px;
    line-height: 25px;
    color: white;
    transition: all 0.3s;
    
}

.footer__list__item{
    padding-bottom: 20px    
}

.footer__list-text:hover{
    color: red;
}

.footer-container{
    width: 600px;
    display: flex;
    justify-content: space-between;
}