*,
*::before,
*::after{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "SF-Pro_Display-Bold" ;
    src: url(../fonts/SF-Pro-Display-Bold.woff) format('woff');
    src: url(../fonts/SF-Pro-Display-Bold.woff2) format('woff2');
}

@font-face {
    font-family: "spaceagecyrillic-regular";
    src: url(../fonts/spaceagecyrillic-regular.woff) format('woff');
    src: url(../fonts/spaceagecyrillic-regular.ttf) format('ttf');
}

ul{
    list-style: none;
}

body{
    font-family: "SF-Pro_Display-Bold";
}

a{
    text-decoration: none;
}

.title{
    color: white;
    font-size: 48px;
    font-family: "spaceagecyrillic-regular";
}

.button{
    height: 60px;
    background-color: transparent;
    color: white;
    font-size: 24px;
    line-height: 31px;
    border: 1px white solid;
    cursor: pointer;
    font-family: "SF-Pro_Display-Bold";
}

.container{
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}

.header{
    background-image: url(../images/header_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    min-height: 100vh;

}

.menu__list{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.menu__list__variant{
    display: flex;
    justify-content: space-around;
    width: 578px;
}

.menu__list-text{
    font-size: 18px;
    line-height: 25px;
    color: white;
    transition: all 0.3s
}

.menu__list-text:hover{
    color: red;
}

.phone_link{
    font-size: 18px;
    line-height: 30px;
    color: white;
    padding-right: 60px;
    position: relative;
    text-align: center;
}

.phone_link::after{
    content: "";
    position: absolute;
    background-image: url(../images/helmet.png);
    right: 0;
    top: -2;
    height: 30px;
    width: 30px;
}

.header__content-inner{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: calc(100vh - 110px);
}

.header__title{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}

.main-title{
    font-size: 60px;
    font-family: "spaceagecyrillic-regular";
    color: white;
    line-height: 82px;
    text-align: center;
    margin-bottom: 5px;
}

.main-toursim{
    font-size: 110px;
}

.main-title-text{
    font-size: 24px;
    line-height: 31px;
    color: white;
    margin-bottom: 50px;
    margin-left: 10px;
}

.main__button{
    width: 600px;
    height: 60px;
    background-color: transparent;
    color: white;
    font-size: 24px;
    line-height: 31px;
    border: 1px white solid;
    cursor: pointer;
    font-family: "SF-Pro_Display-Bold";
}

.header__description{
    display: flex;
    gap: 52px;
    justify-content: end;
}

.header__description-text{
    color: white;
    width: 140px;
    font-size: 14px;
    line-height: 18px;
}

.about{
    background-image: url(../images/about-bg.jpg);
}

.about__inner{
    display: flex;
    justify-content: space-between;
    padding-bottom: 150px; 
}

.about__inner2{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-bottom: 150px; 
}

.about-title{
    line-height: 38px;
    font-size: 38px;
    padding-top: 100px;
    margin-bottom: 100px;
}

.about-title2{
    line-height: 38px;
    font-size: 38px;
    margin-bottom: 100px;
}

.about__inner-title{
    font-size: 30px;
    line-height: 30px;
    color: white;
    padding-bottom: 5px;
}

.about__inner-subtitle{
    color: blue;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.about__content-text{
    display: flex;
    margin-bottom: 50px;
}

.about__content-text p{
    color: white;
    font-size: 16px;
    line-height: 20px;
    width: 165px;
    margin-right: 50px;
}

.about__content-text p:nth-last-child(-n + 1){
    margin-right: 0px;
}

.about-table{
    color: white;
    margin-bottom: 50px;
}

.about-table2{
    color: white;
    margin-bottom: 20px;
}

.about__table-tr{
    border: 1px solid white;
    border-left: none;
    border-right: none;
}

.about-table-td{
    padding:10px 15px;
    text-align: center;
}

.about__table-tr + .about__table-tr{
    font-size: 36px;
    line-height: 50px;
    font-weight: 700;
}

.about-table-td span{
    font-size: 14px;
    line-height: 17px;
    display: block;
}

.about-text-2{
    color: white;
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 50px;
}

.about-button{
    font-size: 18px;
    line-height: 23px;
    width: 300px;
}



.zabronirovat{
    background-image: url(../images/zabronirovat.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    min-height: 100vh;
}

.zabronirovat__inner{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.zabronirovat-right{
    display: flex;
}

.zabronirovat__title{
    color: white;
    font-size: 48px;
    font-family: "spaceagecyrillic-regular";
    max-width: 576px;
}

.zabronirovat__text{
    color: white;
    font-size: 14px;
    width: 170px;
    margin-left: 26px;
    margin-right: 26px;
}